* {font-family: 'Roboto', sans-serif;}

.font_32 {font-size: 2rem;}
.font_28 {font-size: 28px;}
.font_22 {font-size: 22px;}
.font_20 {font-size: 20px;}
.font_16 {font-size: 1rem;}
.font_14 {font-size: 14px;}
.font_12 {font-size: 12px;}
 
.heading_col {color: #404c54;}
.txt_col {color: #929da4;}
.color_white {color:#ffffff;}
.blue_anchor_col {color:#2b65f0;text-decoration: none;}
.black_bk_col {color: #000000;}
.yellow_bk_col {color: #fcb059;}
.green_col {color: #43ceaf}

.red_bk_col {background-color: #ff6464;}
.yello_bk_col {background-color: #f9d43a;}
.green_bk_col {background-color: #56e271;}
.white_bk_col {background-color: #ffffff;}
 
.fontweight400 {font-weight: 400;}
.fontweight500 {font-weight: 500;}
.fontweight700 {font-weight: 700;}

.width_435 {max-width: 435px;}
.width_100 {width:100%;}
.width_520 {max-width: 520px;}

.height_100 {height:100%;}

.border_bottom {border-bottom: 1px solid rgba(0,0,0,.125);}
.border_top {border-top: 1px solid rgba(0,0,0,.125);}
.justify_center {display: flex;justify-content: center;}


.input_label {
    font-size: 12px;
    color: #777777;
    font-weight: 700;
    width: 100%;
}

.box_select_dgin {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
}
 .blue_btn_box {
    background-color: #2b65f0;
    border: 1px solid #2b65f0;
    padding: 9px 60px;
    border-radius: 5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
}
/**navbar_css**/
.bg_blue {background: #2b65f0;}
.nav_link_color {
    background: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #2b65f0 !important;
    line-height: 0px;
    text-align: center;
    display: inline-block;
}
.nav_li {padding: 0px 5px;}


.center_sec {
    max-width: 1200px;
    margin-left: auto;
    padding: 30px 0px 98px 10px;
    margin-right: 0;
    overflow: hidden;
}
.center_row {
    display: flex;
    align-items: flex-end;
    padding: 40px 0px;
}
.ratting_star {padding: 0px;}
.ratting_star li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: #f9886e;
}
.blue_btn {
    background-color: #2b65f0;
    border: 1px solid #2b65f0;
    width: 100%; 
    padding: 10px; 
    border-radius: 5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}
.starbuck_row {
    padding: 60px 0px;
}
.instruction {
    list-style-image: url('../images/Platform-for-Alex-xd_74.png');
    padding: 10px 0px 25px 25px;
    max-width: 435px;
}
.instruction li {
    padding: 10px 0px;
    font-size: 14px;
    color: #929da4;
    font-family: "Roboto";
    font-weight: 500;
}
.blue_small_btn {
    background-color: #2b65f0;
    border: 1px solid #2b65f0;
    display: inline-block;
    border-radius: 40px;
    padding: 10px 35px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}
.blue_small_btn:hover {
    text-decoration: none;
    color: #fff;
}
.youtube_icon {
    font-size: 20px;
}
.input_custom_style {
    font-size: 14px;
    color: #8f9caf;
    font-weight: 400;
}

/****find_your_business****/
.dashbord_container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
}


.browser_dot {padding: 0px;margin-bottom: 0px;}
.browser_bar {
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;
} 
.browser_dot li {
    display: inline-block;
    margin: 0px 1px;
    vertical-align: middle;
}
.browser_dot .dot_cercle {
    border-radius: 50%;  
    height: 15px;
    width: 15px;
}
.browser_dot .browser_arow {
    color: #ccc;
}
.browser_input{
    border: none;
    border-radius: 5px;
    width: calc( 100vw - 14vw );
}
.dashbord_header {
    padding: 30px 0px;
}
.dashbord_header .dashbord_logo {
    list-style: none;
    padding: 0px;
}
.dashbord_header .dashbord_logo li {    
    display: inline-block;
}
/**side_bar**/
.side_bar {
    padding: 0px;
    list-style: none;
    padding-left: 40px;
}
.side_bar li {
    padding: 15px 0px;
}
.side_bar li .sidebar_link {
    font-size: 16px;
    color: #404c54;
}
.side_bar {
    padding: 0px;
    list-style: none;
    width: 300px;
    float: left;
    padding-left: 45px;
}
/**content_body**/
.content_body {
    width: calc(100% - 300px);
    float: right;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px 0px 0px 0px;
    box-shadow: 0px 0px 20px #eee;
}
.box_column {
    width: 32%;
    float: left;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    margin-right: 1.33%;
}
.box_icon {
    background-color: #eaf0f3;
    border-radius: 20px 0px 0px 20px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b65f0;
    font-size: 20px;
}
.box_txt {
    background-color: #f6f9fb;
    border-radius: 0px 20px 20px 0px;
    padding: 15px 10px;
} 
.dashboard_body {
    background-color: #f1f5f8;
    height: 100vh;

}
.container-fluid {padding: 0px;}
.ratting_starr {padding: 0px;margin-bottom: 0px;}
.ratting_starr li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #fcb059;
}
.box_row {
    display: flex;
}
.your_review {
    background-color: #f6f9fb;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    padding: 20px;
}
.green_input {
    background-color: #d1f2eb;
    border: 1px solid #d1f2eb;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #43ceaf;
    font-weight: 500;
}
.blue_border_btn {
    font-size: 12px;
    color: #2b65f0;
    font-weight: 500;
    border: 1px solid #2b65f0;
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}
.dropdown-toggle {
    font-size: 14px;
    line-height: 20px;
    color: #0f0e0e !important;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
}
.sidebar_link img {padding-right: 5px;}
.nav-link.active {
    border: none;
    border-bottom: 1px solid #2b65f0 !important;
    color: #2b65f0 !important;
}
.nav-link {
    border: none;
    color: #929da4 !important;
}
.nav-tabs {
    border-bottom: none !important;
}
.step_form {
    max-width: 600px;
    margin: 0 auto;
} 
.step_one {
    max-width: 300px;
    margin: 50px auto;
}
.step_two {
    max-width: 600px;
    margin: 50px auto;
}
.dashboard_txt_area {
    width: calc(100% - 300px);
    float: right;
    background-color: #fff;
    border-radius: 20px 0px 0px 0px;
    box-shadow: 0px 0px 20px #eee;
}
.padd_40 {padding: 40px;}
.step_complete {
    height: 54px;
    line-height: 54px;
    z-index: 1;
    position: relative;
    color: #43ceaf;
    font-size: 24px;
}
.step_complete i {
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.input-group-text {
    color: #929da4;
    background-color: #f1f5f8;
    font-weight: 700;
    width:37px;
}
.step_review {
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: center;
}
.step_review_li {
    background-color: #f1f5f8;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
}
.review_txt {
    max-width: 120px;
}
.custom-radio .custom-checkbox .custom-control-label::before {
    border-radius: 50%;
    background-color: #dddde8;
    border: #ffffff solid 2px;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #43ceaf;
    background-color: #43ceaf;
    box-shadow: none !important;
}
.payment_method {
    padding: 0px;
}
.payment_method li {
    display: inline-block;
}
.slectbox_cus {
    height: calc(1.5em + .75rem + 0px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline-block;
}

.order_summary {
    background-color: #f7f9fb;
    padding: 20px;
}

/**bus-setting**/

.tab_link_button {
    border: 1px solid #eee !important;
    display: inline-flex;
    border-radius: 40px;
}
.tab_link_button .nav-link {padding: 10px 30px;}
.tab_link_button .nav-link.active {
    border-bottom: 1px solid #2b65f0 !important;
    color: #fff !important; 
    background-color: #2b65f0 !important;
    border-radius: 40px;
}
.left_btn {
    background-color: #e0e6ee;
    font-size: 12px;
    color: #404c54;
    font-weight: 700;
    cursor: default !important;
}
.right_btn {
    border: 1px solid #ced4da;
    font-size: 12px;
    color: #404c54;
    font-weight: 700;
}
.pagination {justify-content: center;margin:20px 0px;}
.pagination li a {
    background-color: #e0e6ee;
    margin: 0px 10px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    content: "\f058";
    font-family: FONTAWESOME;
    color: #43ceaf;
    font-size: 20px;
    cursor: pointer;
    margin-top: -6px;
}
.custom-radio .custom-control-label::after {
    left: -1.55rem;
    cursor: pointer;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    border-color: transparent;
    background-color: transparent;
}
.close_style {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #163379;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.fixed-bottom #navb {
    display: block;
}
.bg-dark {
    background-color: #3f3d56 !important;
}
.menu_btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#toggle_btn {
    padding: 0px 20px 20px 20px;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: unset;
}

@media (max-width: 320px) {
 .location_name {
    font-size: 16px !important; 
    margin-left: 0 !important;
}
.location_adress {
    font-size: 12px;
    font-weight: bold;
    margin-left: 0 !important;
    display: block; 
    margin: 8px 0 0 0 !important;
}
.logo_img {
    object-fit: contain;
    margin: -58px 15px 0px 0px !important;
    padding: 0;
}
.navbar-dark .navbar-toggler { 
    margin: -120px 0 0 -10px !important;
}
.nav_li {
    padding: 5px !important;
}
   
}

@media (max-width:1024px) {
    .mar_bot {margin-bottom: 30px;}
    .content_body {width: 100%;}
    .location_name{margin-left: 0 !important;}
    .location_name {font-size: 17px !important;font-weight: bold; padding: 0 0 0 10px !important; }

}
@media (max-width: 980px) {
    .side_bar {display: none;}
}
@media (max-width: 767px) {
    .mar_bot {margin-bottom: 70px;}
    .center_sec {padding: 30px 20px 70px 20px;}
    .needs-validation {margin-bottom: 20px;}
    .starbuck_row {height: auto;padding: 30px 0px;}
    .fixed-bottom .nav-link {font-size: 12px;}
 
}
@media (max-width: 768px) { 

    .navbar-dark .navbar-toggler { margin: -33px 0 0 -12px;}
    .logo_img {margin: 8px 20px 35px 0;}
    .nav_li {padding: 5px !important;}
}


@media (min-width: 0px) and (max-width: 767px) { 
img.strPngImg {display: none;}
}

@media (min-width: 1920px) { 
  .width_520 {
    padding: 11% 0 124px 0;
  }
}  

/**step-one**/

.step-wrapper {
  padding: 20px 0;
  display: none;
}
.step-wrapper.active {
  display: block;
}

.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}
.step-indicator li {
  display: table-cell;
  position: relative;
  float: none;
  padding: 0;
  width: 1%;
}
.step-indicator li:after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  top: 54px;
}
.step-indicator li:after {
  left: 50%;
}
.step-indicator li:last-child:after {
  display: none;
}
.step-indicator li.active .step {
  /*border-color: #4183D7;*/
  color: #4183D7;
}
.step-indicator li.active .caption {
  color: #4183D7;
}
.step-indicator li.complete:after {
  background-color: #87D37C;
}
.step-indicator li.complete .step {
  border-color: #87D37C;
  color: #87D37C;
}
.step-indicator li.complete .caption {
  color: #87D37C;
}
.step-indicator .step {
  background-color: #f1f1f5;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 14px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    position: relative;
    width: 64px;
    z-index: 1;
}
.step-indicator .step:hover {
  cursor: pointer;
}
.step-indicator .caption {
  color: #ccc;
  padding: 11px 16px;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}
.step_name {
    font-size: 12px;
    color: #2f3246;
    font-weight: 700;
    margin-bottom: 10px;
}
.location_adress {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    display: block;
}
.location_name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.navbar-dark .navbar-brand {display: flex;}
.profile_not_found {
    display: flex;
    align-items: center;
    justify-content: center;height:90vh;
}
.logo_img {object-fit: contain;}
/*.dv-star-rating { border: 1px solid #ccc; padding: 0px 10px; }*/
.dv-star-rating i { font-size: 46px; line-height: normal; }